@import '../main/_main.scss';

.footer {
    width: 100%;
    background: #040A0A;

    &__content {
        width: 100%;
        max-width: 1310px;
        padding: 90px 15px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu {
        display: flex;
        align-items: center;
        grid-gap: 40px;

        a {
            color: #C4C4C4;
            font-size: 18px;
            line-height: 19px;

            &.feedback {
                display: block;
                border: 1px solid #C4C4C4;
                border-radius: 5px;
                padding: 10px 25px;
            }
        }
    }
}