@import '../main/_main.scss';


main {
    background: url('../../image/bg-decor-5.png') no-repeat center;
    background-size: cover;
}

.replenish {
    display: grid;
    grid-gap: 30px;
    border-radius: 5px;
    background: $white;
    padding: 50px 40px;

    &__headline {
        @include text($main__color, left, 700);
        @extend %third__headline;
    }
    &__path {
        width: 100%;
        max-width: 640px;
        justify-content: space-between;
        display: grid;
        grid-template-columns: auto minmax(0px, 350px);
        grid-gap: 30px;
        align-items: center;

        input {
            border-radius: 5px;
            width: 100%;
            border: 1px solid #AEAEAE;
            background: $white;
            outline: none;
            padding: 10px 15px;
        }
        .select {
            position: relative;

            .next,
            .prev {
                position: absolute;
                background: none;
                right: 15px;
                width: 8px;
                height: 8px;

                svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            .next {
                top: 8px;
            }
            .prev {
                bottom: 8px;
            }
            select {
                border: 1px solid #AEAEAE;
                background: $white;
                padding: 10px 15px;
                width: 100%;
                border-radius: 5px;
                appearance: none;
                outline: none;
            }
        }
    }
    .submit {
        background: #1A3B3B;
        box-shadow: $shadow;
        padding: 20px;
        width: 100%;
        max-width: 300px;
        @include text($white, center, 700);
        text-transform: uppercase;
        margin-top: 10px;
        border-radius: 5px;
    }
}